.container {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    //Table customization
    margin-top: 20px;
    table {
        width: 100%;

        .mat-column-Id {
            flex: none;
            width: 15%;
        }
        .mat-column-StartedAt {
            flex: none;
            width: 15%;
        }
        .mat-column-Time {
            flex: none;
            width: 15%;
        }
        .mat-column-UserNAme {
            flex: none;
            width: 15%;
        }
        .mat-column-WorkspaceTitle {
            flex: none;
            width: 15%;
        }
        .mat-column-DeviceItentifier {
            flex: none;
            width: 15%;
        }
        .mat-column-Actions {
            flex: none;
            width: 10%;
        }
        .mat-row:hover {
            background-color: rgb(226, 226, 226);
        }
        .selected {
            background-color: rgb(190, 190, 190);
        }
    }
}

//General
th.mat-header-cell {
    text-align: center;
}

td {
    text-align: center;
}
