<div class="container">
  <mat-card>
    <mat-card-title>
      <div class="row">
        <div class="col-6 d-flex align-items-center">
          <button mat-raised-button>Yeni Kullanıcı</button>
        </div>
        <div class="col-6">
          <mat-form-field style="font-size: smaller; width: 55%;">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Arama</mat-label>
            <input matInput type="text" name="" id="search" placeholder="kullanıcı adı, ad, soyad.." autocomplete="off"
              [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}">

          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-label>Rol</mat-label>
            <mat-select #RoleSelection [(value)]="selectedRole">
              <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <mat-accordion class=" mt-2">
        <mat-expansion-panel
          *ngFor="let user of users.dataSource | searchUser:searchString:selectedRole; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{user.userName}}
            </mat-panel-title>
            <mat-panel-description>
              {{user.name}} {{user.surName}}
              <div class="spacer"></div>
              <section *ngIf="user.isAdmin == 0">
                <mat-icon matTooltip="Kullanıcı" matTooltipShowDelay="200">account_circle</mat-icon>
              </section>
              <section *ngIf="user.isAdmin == 1">
                <mat-icon matTooltip="Yönetici" matTooltipShowDelay="200">admin_panel_settings</mat-icon>
              </section>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row justify-content-between">
            <div class="col-3">
              <mat-form-field>
                <input type="text" matInput placeholder="Kullanıcı Adı" autocomplete="off" [(ngModel)]="user.userName">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <input type="text" matInput placeholder="Adı" autocomplete="off" [(ngModel)]="user.name">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <input type="text" matInput placeholder="Soyadı" autocomplete="off" [(ngModel)]="user.surName">
              </mat-form-field>
            </div>
            <div class="col-md-1 offset-md-2">
              <div class="spacer"></div>
              <div class="row">
                <div class="col">
                  <button mat-icon-button color="primary" matTooltip="Güncelle">
                    <mat-icon>
                      sync_alt
                    </mat-icon>
                  </button>
                  <br>
                  <button mat-icon-button color="warn" matTooltip="Girişi Yasakla">
                    <mat-icon>
                      block
                    </mat-icon>
                  </button>
                  <br>
                  <button mat-icon-button color="accent" matTooltip="Parola belirle">
                    <mat-icon>
                      password
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-12">
              <h1 style="text-align: center;">İletişim Bilgileri</h1>
            </div>
          </div>
          <div class="row ">
            <div class="col-4">
              <div class="row">
                <h3 style="text-align: center;">Adresler</h3>
              </div>
              <div class="row contact-actions">
                <button mat-icon-button>
                  <mat-icon>
                    add
                  </mat-icon>
                </button>
              </div>
              <div class="row">
                <span *ngIf="user.adresses.length <= 0" class="warn">Kayıtlı Adres Yok</span>
                <mat-accordion *ngFor="let address of user.adresses">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>{{address.title}}</mat-panel-title>
                      <mat-panel-description>{{address.city}}/{{address.country}}</mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <h3 style="text-align: center;">Telefon Numaraları</h3>
              </div>
              <div class="row contact-actions">
                <button mat-icon-button>
                  <mat-icon>
                    add
                  </mat-icon>
                </button>
              </div>
              <div class="row">
                <span *ngIf="user.phoneNumbers.length <= 0" class="warn">Kayıtlı Telefon Numarası Yok</span>
                <mat-accordion *ngFor="let number of user.phoneNumbers">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>{{number.title}}</mat-panel-title>
                      <mat-panel-description>Description</mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <h3 style="text-align: center;">E-Posta Adresleri</h3>
              </div>
              <div class="row contact-actions">
                <button mat-icon-button>
                  <mat-icon>
                    add
                  </mat-icon>
                </button>
              </div>
              <div class="row">
                <span *ngIf="user.mailAdresses.length <= 0" class="warn">Kayıtlı E-Posta Yok</span>
                <mat-accordion *ngFor="let mail of user.mailAdresses">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>{{mail.title}}</mat-panel-title>
                      <mat-panel-description>{{mail.mailAdress}}</mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-card-actions class="mb-4">
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>