.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/background.jpg");
    background-size: cover;
    box-sizing: border-box;
}

.card-wrapper{
    width: 60%;
    height: 50%;
    position: absolute;
    top: 35%;
}

mat-cardcontent{
    display: inline-block;
}