<mat-card>
  <mat-card-header>Parola Belirle</mat-card-header>
  <mat-card-subtitle>En az 6 karakterden oluşmalıdır.</mat-card-subtitle>
  <mat-card-content>
    <form #passwordResetForm [formGroup]="resetForm" (ngSubmit)="submit()" autocomplete="off">
      <mat-form-field>
        <mat-label>Yeni Parola</mat-label>
        <input matInput type="text" name="" id="" required="true" formControlName="password" autocomplete=""
          type="password">
        <mat-error *ngIf="resetForm.controls['password'].hasError('required')">
          Bu alan zorunludur!
        </mat-error>
        <mat-error
          *ngIf="resetForm.controls['password'].hasError('minLength') != null || resetForm.controls['password'].hasError('minLength') == undefined">
          Minimum 6 karakterden oluşmalıdır!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Yeni Parolayı Onayla</mat-label>
        <input matInput type="text" name="" id="" required="true" formControlName="confirmPassword" autocomplete="off"
          type="password">
        <mat-error *ngIf="matchError()">
          Parolalar uyuşmuyor!
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button type="submit" color="primary" (click)="submit()">Belirle</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="">Vazgeç</button>
  </mat-card-actions>
</mat-card>